.topic-page {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    background-color: #1f1f1f;
    border-radius: var(--radius-sm);
}

.topic-page__editor {
    position: relative;
    z-index: 0;
}